.services {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #fcfcfc, #c1d2e4);
    color: white;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Responsive grid */
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.service-item {
    background: white;
    color: #003366;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-item:hover {
    transform: translateY(-5px);
    background: #f0a500;
    color: white;
}

.service-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #003366;
}

.service-item:hover .service-icon {
    color: white;
}